.centered{
    text-align: center;
}

.backgroundTime{
    background-color: rgb(185, 185, 185);
}

.textStuff{
    color: black;
}
/*Navigation Bar stuff*/
nav{
    position:relative;
    top:0px;
    width: 100%;
}

ul.mainNavbar{
    border-color: #A60F2D;
    list-style-type: none;
    margin: 0%;
    padding: 1%;
    overflow: hidden;
}

.navbar {
    display: inline;
    float: left;
}

li.navBar {
    display: block;
    padding: 8px;
    background-color: #A60F2D;
    text-align: left;
    color: #F9A03F;
    text-decoration: none; 
}

li.navBar a{
    font-size: xx-large;
    color: #F9A03F;
    text-decoration: none; 
}

li.navBar a:hover{
    color: #8E7DBE;
}

/*This is dedicated to the home page*/
.titlePositioning{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 10em;
}

.titleContent{
    text-align: left;
    font-size: x-large;
}

.topPositioning{
    margin-top:2%;   
}

.boxTime{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    background-color:rgb(124, 124, 124);
    padding-top: 0.7%;
    padding-bottom: 0.71%;
}

.indexBackgroundImage{
    background-color:rgb(124, 124, 124);
    width: 35%;
    margin-top: 1%; 
}

h2.homeLogins a{
    color:#6f091e;
    background-color:rgb(106, 106, 106);
    padding: 0.7%;
    text-align: center;
    font-size: xx-large;
}

h2.homeLogins a:hover{
    color: #b6742e;
}

.indexMainText{
    font-size: x-large;
}

#indexCentered{
    margin-top: 0.5%;
    padding: 1%;
}
/*This is general choice voting stuff*/
ul.listTime{
    font-size: xx-large;
}

li.listChoiceOptionLink{
    text-decoration: none;
    list-style:none;
}

li.listChoiceOptionlink a{
    color:#6f091e;
    text-decoration-color:#6f091e;
}

li.listChoiceOptionlink a:after{
    color:#6f091e;
    text-decoration-color:#6f091e;
}

button.buttonMove{
    margin-left: 1.5%;
    height: 2em;
    width: 15em;
}

button.buttonMove a{
    font-size: large;
}

/*The colors above was just desparation before giving up*/

.listTime p{
    font-size: xx-large;
}

/*This is dedicated to the question-vote.html stuff*/
h3.panel-title{
    font-size: xx-large;
    margin-left: 0.5%;
}

.col-lg-12 h2{
    font-size: x-large;
    margin-left: 0.5%;
}

li.listChoiceOption{
    list-style-type: none;
}

label.choiceOption{
    font-size: x-large;
    margin-left: 0.35%;
    list-style-type: none;
}

button.btn{
    margin-left: 0.5%;
    height: 2em;
    width: 15em;
}

/*This is all dedicated to the specifics in the create.html stuff*/
#creation{
    font-size: x-large;
    margin-left: 0.5%;
}

#creation select{
    font-size: large;
    padding: 0.1%;
}

#creation input{
    font-size: large;
}

#creation #finale{
    margin-left: 0.5%;
    height: 2em;
    width: 15em;
}

/*This is dedicated to the detail.html stuff*/
li.theFinePrint{
    margin-left: 0.5%;
}

/*This is dedicated to the login.html stuff*/
#loginTitle{
    margin-left: 0.5%;
}

label.form-label{
    font-size: x-large;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
}
input.form-control{
    font-size: large;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
}

input.btn{
    font-size: large;
    margin-left: 0.5%;
    height: 2em;
    width: 15em;
}

/*This is dedicated to the register_user.html stuff*/
#error-handling{
    font-size: xx-large;
}

#registerSize{
    font-size: 220%;
    margin: 0%;
    margin-left: 0.5%;
    padding: 0%;
}

.registrationTime{
    font-size: x-large;
    margin-left: 0.5%;
}

.registrationTime input{
    font-size: large;
}