{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    </head>
    <body class="backgroundTime">
        <nav>
            <ul class="mainNavBar">
                <li class="navBar"><a href="{% url 'orgvote:home' %}">Home</a></li>
            </ul>
        </nav>
        {% block content %}

        {% if form.errors %}
        <p id="error-handling">There was an error with your form...</p>

        {% endif %}

        <h1 id="registerSize">Register</h1>
        <br/><br/>

        <form class="registrationTime" action="{% url 'members:register_user' %}" method=POST>
            {% csrf_token %}

            {{ form }}

            <input type="submit"
            value="Submit" class="btn btn-secondary">
        </form>

        <br/><br/>
        {% endblock %}

    </body>
</html>

