{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    </head>
    <body>
        <nav>
            <ul class="mainNavBar">

            </ul>
        </nav>

        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type ='submit' value="Save" />
        </form>

    </body>
</html>

