{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    </head>
    <body class="backgroundTime">
        <nav>
            <ul class="mainNavBar">
                <li class="navBar"><a href="{% url 'orgvote:home' %}">Home</a></li>
            </ul>
        </nav>

        <form action="." method="POST" id="creation">
            {% csrf_token %}
            {{form.as_p}}
            <input id="finale" type ='submit' value="Save" />
        </form>

    </body>
</html>

