{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    </head>
    <body>
        <nav>
            <ul class="mainNavBar">

            </ul>
        </nav>

        <ul>
            <!-- Iterate over object_list -->
            {{survey.name}}
            {% for choice in survey.question_set.all%}
            <!-- Display Objects -->
            <li>{{ choice.name }}</li>
        
            <hr/>
            <!-- If object_list is empty  -->
            {% empty %}
            <li>No objects yet.</li>
            {% endfor %}
        </ul>

    </body>
</html>

