{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Butch For President</title>

    <meta name="description" content="The Home page for Butch for President!">
    <meta name="Author" content="Bruno Sánchez">
    <meta property="og:title" content="Home | Butch for President">
    <meta property="og:type" content="website"> 

    <meta property="og:description" content="Butch for Presidnet - Home Page"> <!--For social media stuff this helps, but ignore for now-->
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    <!-- <i class="icon-list-ol"></i> icon-list-ol--> 
    <link rel="icon" href="images\2x\baseline_poll_black_24dp.png">
    <!--fontawesome.com is a place to get icons!-->
    
</head>
<body class="backgroundTime">
    <!--
        <nav>
            <ul class="mainNavbar">
                <li class="NavBar"><a>Home</a></li>
            </ul>
        </nav>
    -->
    

    <div class="titlePositioning">
        <div class="titleContent">
            <h1>Butch For President!</h1>
        </div>
    </div>
    <div class="boxTime">
        {% if user.is_authenticated %}
        <div id="indexBackgroundImage">
            <div class="logout">
                <h2 id="logoutButton" class="homeLogins centered"><a href="{% url 'members:logout_user' %}">Logout</a></h2> 
            </div>
        </div>
        
        {% else %}
        <div id="indexBackgroundImage">
            <div class="login">
                <h2 id="loginButton" class="homeLogins centered"><a href="{% url 'members:login' %}">Login</a></h2> 
            </div>
        </div>

        <div id="indexBackgroundImage">
            <div class="register">
                <h2 id="registerButton" class="homeLogins centered"><a href="{% url 'members:register_user' %}">Register</a></h2> <!--Here we'll view the list of organizations!-->
            </div>
        </div>
        {% endif %}

        <div id="indexBackgroundImage">
            <div class="voteHere">
                <h2 id="voteHereButton" class="homeLogins centered"><a href="{% url 'orgvote:Organizations' %}">View Organizations!</a></h2> <!--Here we'll view the list of organizations!-->
            </div>
        </div>
    </div>
    <div class="indexMainText centered">
        <h2>
            Does your group have questions, but have a hard time answering them?
        </h2>
        <p id="indexCentered">
            Welcome to a questionaire voting system! <br><br>

            Organizations can create topics, surveys, and questions for their members to answer.<br>
            Their votes are stored in the database and are only visible to organization admins!<br><br>

            Feel free to log on and answer questions!<br><br>

            Please vote responsibly!
        </p>
    </div>
    
</body>
<footer>

</footer>
</html>