{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Butch For President</title>

    <meta name="description" content="The Home page for Butch for President!">
    <meta name="Author" content="Bruno Sánchez">
    <meta property="og:title" content="Home | Butch for President">
    <meta property="og:type" content="website"> 

    <meta property="og:description" content="Butch for Presidnet - Home Page"> <!--For social media stuff this helps, but ignore for now-->
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    <!-- <i class="icon-list-ol"></i> icon-list-ol--> 
    <link rel="icon" href="images\2x\baseline_poll_black_24dp.png">
    <!--fontawesome.com is a place to get icons!-->
    
</head>
<body>
    <nav>
        <ul class="mainNavBar">
            <li class="NavBar"><a>Log-in</a></li>
            <li class="NavBar"><a>Organization</a></li>
            <li class="NavBar"><a>About</a></li>
            <li class="NavBar"><a>Home</a></li>
            <!--<img src="images/Washington_State_Cougars_logo.png">-->
        </ul>
    </nav>
    <div class="titlePositioning">
        <div class="titleContent">
            <h1>Butch For President!</h1>
        </div>
    </div>
        <h2 href="">Click here to view an existing survey!</h2>
    <div id="indexBackgroundImage">
        <div class="voteHere">
            <h2 id="voteHereButton"><a href="websiteDown.html">View Organizations!</a></h2> <!--Here we'll view the list of organizations!-->
        </div>
    </div>
    
    <div class="indexMainText">
        <h2>
            Does your group have questions, but have a hard time answering them?
        </h2>

        <p id="indexCentered">
            Butch for President's voting service lets organizations and clubs create surveys in which members can <br>
            vote on, so you can vote on topics that matter to you and your organization.<br><br>

            Once you sign up for an account you can join a pre-existing organization, or even create your own!<br><br>

            Our service ensures that you'll be able to learn about what members of your organization really want!<br>
        </p>
    </div>
    
</body>
<footer>

</footer>
</html>