{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    </head>
    <body class="backgroundTime">
        <nav>
            <ul class="mainNavBar">
                <li class="navBar"><a class="" href="{% url 'orgvote:home' %}">Home</a></li>
            </ul>
        </nav>
        
        <ul class="listTime">
            <!-- Iterate over object_list -->
            {% for organization in object_list %}
            <!-- Display Objects -->
            <li class="listChoiceOption">{{ organization.name }}</li>
            <li class="listChoiceOptionLink listChoiceOption"><a href="{% url 'orgvote:organizationView' organization.id %}">{{ "link" }}</a></li>
        
            <hr/>
            <!-- If object_list is empty  -->
            {% empty %}
            <li>No objects yet.</li>
            {% endfor %}
        </ul>
        <button type="button">
            <a href="{% url 'orgvote:createOrganization' %}">Create Organization</a>
        </button>

    </body>
</html>


