{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Orgvote</title>

        <meta name="Author" content="Butch For President">
        <link rel="stylesheet" href="{% static 'orgStyles.css' %}">
    </head>
    <body class="backgroundTime">
        <nav>
            <ul class="mainNavBar">
                <li class="navBar"><a href="{% url 'orgvote:home' %}">Home</a></li>
            </ul>
        </nav>

        <ul class="listTime">
            <!-- Iterate over object_list -->
            {{organization.name}}
            {% for topic in organization.topic_set.all%}
            <!-- Display Objects -->
            <li class="listChoiceOption"><a href="{% url 'orgvote:topicView' topic.id %}">{{ topic.name }}</a></li>
        
            <hr/>
            <!-- If object_list is empty  -->
            {% empty %}
            <li>No objects yet.</li>
            {% endfor %}
        </ul>
        <button type="button">
            <a href="{% url 'orgvote:createTopic' %}">Create Topic</a>
        </button>

    </body>
</html>

